@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }

  .my-title-color {
    color: #2e2d2d;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
